# Ignore .DS_Store files
.DS_Store
**/.DS_Store

# Ignore .env file
.env
**/.env

# Ignore aliases private
aliases_private/
**/aliases_private/

# Ignore VHost config files from Apache2
./BrewMate/opt/homebrew/etc/httpd/extra/sites-enabled/**/*
./BrewMate/opt/homebrew/etc/httpd/extra/sites-disabled/**/*

# Ignore SSL certificats for VHost
./BrewMate/opt/homebrew/etc/httpd/ssl/**/*

# Ignore PHP versions
./BrewMate/opt/homebrew/etc/php/**/*
