{
    auto_https disable_redirects
}

(cors) {
    @hasOrigin {
        header Origin *
    }

    @hasReferrer {
        header !Origin
        header Referer *
    }

    @noOrigin {
        header !Origin
        header !Referer
    }

    header @hasOrigin Access-Control-Allow-Origin {http.request.header.origin}
    header @hasReferrer Access-Control-Allow-Origin {http.request.header.referer}
    header @noOrigin Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Headers Authorization
    header Access-Control-Allow-Credentials true
    header Access-Control-Allow-Methods GET POST PUT DELETE OPTIONS
    header Access-Control-Max-Age 3600
    header Vary Origin
}

# GeoNative Mercure Hub
(mercure) {
    route /.well-known/mercure {
        import cors
        @options {
            method OPTIONS
        }
        respond @options 204

        mercure {
            transport_url bolt:///tmp/mercure.db
            publisher_jwt {env.MERCURE_JWT_VERIFICATION_KEY} RS256
            subscriber_jwt {env.MERCURE_JWT_VERIFICATION_KEY} RS256
            anonymous
            subscriptions
            heartbeat 10s
        }
    }
}

# GeoNative API
api.geonative.local {
	tls internal
	import mercure
	root * /Users/izno/dev/www/geonative-api/public
	php_fastcgi 127.0.0.1:9081
	file_server
}

# GeoNative Admin API
admin-api.geonative.local {
	tls internal
	import mercure
	root * /Users/izno/dev/www/geonative-api/public
	php_fastcgi 127.0.0.1:9081
	file_server
}

# GeoNative Admin
admin.geonative.local.app {
    reverse_proxy localhost:5000
}

# GeoNative MyGeo
mygeo.geonative.local {
    reverse_proxy localhost:5010
}