<template>
    <table id="[TABLE_ID]">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>john.doe@domain.ext</td>
                <td>
                    <button>edit</button>
                    <button>delete</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Doe</td>
                <td>jane.doe@domain.ext</td>
                <td>
                    <button>edit</button>
                    <button>delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Total: 2</td>
            </tr>
        </tfoot>
    </table>
</template>