
<!DOCTYPE html>
<html lang="[LANG_CODE]">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="[THEME_HEX_COLOR]">
    <meta name="msapplication-navbutton-color" content="[THEME_HEX_COLOR]">
    <meta name="apple-mobile-web-app-status-bar-style" content="[THEME_HEX_COLOR]">
    <!-- Base URL -->
    <base href="[BASE_URL]">
    <!-- Favicon -->
    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <!-- SEO -->
    <title>[PAGE_NAME]</title>
    <meta name="description" content="[PAGE_DESCRIPTION]">
    <meta name="keywords" content="[PAGE_KEYWORDS]">
    <meta name="author" content="[PAGE_AUTHOR]">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <!-- Social Media -->
    <meta property="og:title" content="[PAGE_NAME]">
    <meta property="og:description" content="[PAGE_DESCRIPTION]">
    <meta property="og:image" content="[PAGE_IMAGE]">
    <meta property="og:url" content="[PAGE_URL]">
    <meta property="og:site_name" content="[PAGE_NAME]">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="[PAGE_NAME]">
    <meta name="twitter:title" content="[PAGE_NAME]">
    <meta name="twitter:description" content="[PAGE_DESCRIPTION]">
    <meta name="twitter:image" content="[PAGE_IMAGE]">
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <main id="app">
        <h1>HTML5 Template</h1>
    </main>
	<script src="/assets/js/index.js"></script>
  </body>
</html>